/* Typography imports */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;600&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.25;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
/* 
text-wrap: balance;
- Only works for the latest versions of Chrome
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-family: var(--heading-font);
}

p {
  font-family: var(--regular-font);
}
