---
import Base from "../components/Base.astro";
import Header from "../components/Header.astro";
import Form from "../components/Form.astro";
import Applications from "../components/Applications.astro";

const headerImage = "/images/bgk-header-2.jpeg";
---

<Base title="Super Front End Developer Team">
  <div class="main_container">
    <div class="bgk_header">
      <img src={headerImage} alt="background image" />
    </div>
    <Header />
    <main class="main">
      <Form />
      <Applications />
    </main>
  </div>
</Base>

<style lang="scss">
  h1,
  h2 {
    text-align: center;
  }

  .main_container {
    padding: 1rem;
    position: relative;
    width: 100%;
    isolation: isolate;
    display: grid;
    place-items: center;
  }

  .bgk_header {
    position: absolute;
    inset: 0;
    z-index: -1;
    overflow: hidden;
    border-radius: 0.5rem;
    height: 70vh;
    box-shadow: 0 10px 24px #c44966;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .main {
    width: min(100%, 760px);
    margin-block: 2rem;
    background-color: white;
    padding: 1.5rem;
    border-radius: 1.5rem;
  }
</style>
