---
import Base from "../components/Base.astro";
import Header from "../components/Header.astro";
import Main from "../components/Main.astro";

const headerImage = "/images/bgk-header-4.jpeg";
---

<Base title="Super Front End Developer Team">
  <div class="main_container">
    <div class="bgk_header">
      <img src={headerImage} alt="background image" />
    </div>
    <Header />
    <Main />
  </div>
</Base>

<style lang="scss">
  h1,
  h2 {
    text-align: center;
  }

  .main_container {
    padding: 1rem;
    position: relative;
    width: 100%;
    isolation: isolate;
    display: grid;
    place-items: center;
    // overflow: auto;
  }

  .bgk_header {
    position: absolute;
    inset: 0;
    z-index: -1;
    overflow: hidden;
    border-radius: 0.5rem;
    height: 70vh;
    box-shadow: 0 10px 24px #8a56b0;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      filter: brightness(0.7);
    }
  }
</style>
