---

---

<div class="applications">
  <div class="applications_header">
    <button>
      <img src="/nav-arrow-left.svg" alt="arrow left" />
      <span id="prev-page"> Menu </span>
    </button>
    <span>/</span>
    <p>Your Applications</p>
  </div>
  <h2>Your Applications</h2>
  <div class="applications_list">
    <table>
      <thead>
        <tr>
          <th>Company</th>
          <th>Position</th>
          <th>Date Applied</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody id="application-list">
        <tr>
          <td>Example Corp</td>
          <td>Software Engineer</td>
          <td>2023-10-01</td>
          <td class="status" data-status="Applied">
            <span class="status-dot"></span>
            Applied
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<style is:global>
  .applications {
    --rounded: 0.8rem;

    overflow-y: scroll;
    border-radius: var(--rounded);
    border: 1px solid hsl(0, 0%, 80%);
    background-color: hsl(0, 0%, 98%);
    overflow: hidden;

    & > * {
      padding: 0.5rem 0.8rem;
    }
    /* background-color: red; */
  }

  .applications_header {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    border-bottom: 1px solid hsl(0, 0%, 93%);

    & button {
      font-size: inherit;
      cursor: pointer;
      display: flex;
      align-items: center;
      background-color: transparent;
      border: none;
      gap: 0.5rem;
      color: hsl(0, 0%, 30%);
    }
  }

  h2 {
    font-size: 1.2rem;
    color: gray;
  }

  table {
    position: relative;
    width: 100%;
    border-collapse: collapse;
    background-color: white;
  }

  th,
  td {
    border-bottom: 1px solid hsl(0, 0%, 93%);
    text-align: left;
    padding: 0.5rem;
  }

  td.status {
    --_bgk-color: hsl(0, 0%, 90%);
    --_bgk-dot-color: hsl(0, 0%, 40%);
    --_bgk-text-color: hsl(0, 0%, 40%);

    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* background-color: var(--_bgk-color); */
    color: var(--_bgk-text-color);
    border-radius: 2rem;
    width: fit-content;

    .status-dot {
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50vw;
      background-color: var(--_bgk-dot-color);
    }

    &[data-status="Applied"] {
      --_bgk-color: hsl(144, 65%, 95%);
      --_bgk-dot-color: hsl(139, 100%, 40%);
      --_bgk-text-color: hsl(140, 100%, 30%);
    }

    &[data-status="Offer"] {
      --_bgk-color: hsl(120, 66%, 90%);
      --_bgk-dot-color: hsl(120, 100%, 40%);
      --_bgk-text-color: hsl(120, 100%, 30%);
    }

    &[data-status="Interview"] {
      --_bgk-color: hsl(200, 66%, 90%);
      --_bgk-dot-color: hsl(200, 100%, 40%);
      --_bgk-text-color: hsl(200, 100%, 30%);
    }

    &[data-status="Rejected"] {
      --_bgk-color: hsl(350, 66%, 95%);
      --_bgk-dot-color: hsl(350, 100%, 40%);
      --_bgk-text-color: hsl(350, 100%, 30%);
    }
  }

  thead {
    position: sticky;
    top: -14px;
    background-color: hsl(0, 0%, 95%);
    /* border-radius: 1rem; */
    th {
      color: hsl(0, 0%, 60%);
      &:first-child {
        border-top-left-radius: var(--rounded);
      }
      &:last-child {
        border-top-right-radius: var(--rounded);
      }
    }
  }
  tbody {
    border: 1px solid hsl(0, 0%, 90%);
    tr {
      width: 100%;
      transition: all 120ms ease-in-out;

      & td:first-child {
        color: hsl(0, 0%, 40%);
        font-weight: 600;
      }

      & td:is(:not(:first-child, :last-child)) {
        color: hsl(0, 0%, 60%);
      }
    }
  }

  tr:hover {
    background-color: #f1f1f1;
  }
</style>
