---

---

<div>
  <h2>Your Applications</h2>
  <ul class="applications_list" id="application-list"></ul>
</div>

<style is:global>
  .applications_list {
    list-style-type: none;
    padding: 0;

    & li {
      background-color: #dbdbdb;
      margin: 10px 0;
      padding: 10px;
      border: 1px solid #ddd;
    }
  }
</style>
