---

---

<form id="job-form" class="form">
  <label for="company">Company:</label>
  <div class="input_container">
    <img src="/building.svg" alt="company logo" />
    <input type="text" id="company" name="company" required />
  </div>
  <label for="position">Position:</label>

  <div class="input_container">
    <img src="/position.svg" alt="company logo" />
    <input type="text" id="position" name="position" required />
  </div>

  <label for="date-applied">Date Applied:</label>
  <div class="input_container">
    <img src="/calendar.svg" alt="company logo" />
    <input type="date" id="date-applied" name="date-applied" required />
  </div>

  <label for="status">Status:</label>
  <select id="status" name="status" required>
    <option value="Applied">Applied</option>
    <option value="Interview">Interview</option>
    <option value="Offer">Offer</option>
    <option value="Rejected">Rejected</option>
  </select>

  <button type="submit">Add Application</button>
</form>

<style>
  form {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }

  label {
    margin-block: 10px 5px;
    font-weight: 600;
    color: hsl(0, 0%, 40%);
  }

  img {
    aspect-ratio: 1;
    width: 20px;
  }

  .input_container {
    padding: 0.3rem;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    border: 1px solid hsl(0, 0%, 80%);

    & input {
      border: none;
      padding: 0.2rem;
      font-size: 1.1rem;
    }

    & input:focus {
      outline: none;
      border: none;
    }
  }

  select,
  button {
    padding: 10px;
    margin-top: 5px;
    font-size: 0.9rem;
    -webkit-appearance: none;
  }

  input,
  select {
    /* margin-left: 0.5rem; */
    border-radius: 0.5rem;
    border: 1px solid hsl(0, 0%, 80%);
  }

  button {
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: hsl(278, 100%, 90%);
    color: hsl(278, 100%, 40%);
    border: 1px solid hsl(278, 100%, 80%);
    margin-top: 20px;
    font-weight: 700;
    transition: all 120ms ease-in-out;
  }

  button:hover {
    background-color: hsl(278, 100%, 40%);
    color: hsl(278, 100%, 90%);
  }
</style>
