---
import HeaderNav from "./HeaderNav.astro";
---

<header class="header">
  <HeaderNav />
  <div class="header_content">
    <h1>Job Application Tracker, don't fall behind in the race</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam</p>
  </div>
  <a href="#" class="header_cta">Try the full experience</a>
</header>

<style>
  .header {
    width: min(100%, 760px);
  }

  .header {
    margin-block: 2rem;
    color: white;
    text-align: center;

    & .header_content {
      margin-block: 1.5rem;
      h1 {
        text-transform: capitalize;
        color: white;
        font-size: clamp(2rem, 5vw, 3rem);
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.2rem;
      }
    }

    & .header_cta {
      font-weight: 600;
      padding: 8px;
      border-radius: 0.5rem;
      border: 1px solid hsl(0, 0%, 40%);
      color: white;
      background-color: hsl(0, 0%, 10%);
    }
  }
</style>
