---
import { Icon } from 'astro-icon/components'
---

<header>
  <div>
    <button>
      click to navigate
      <Icon name="mdi:cursor-default-click-outline" />
    </button>
  </div>
  menu navigation
</header>


<style lang="scss">

</style>