---

---

<nav class="header_nav">
  <div class="nav_logo">
    <img src="/images/logo-site.webp" alt="logo" />
  </div>
  <ul class="nav_links">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <button class="nav_cta">
    <span>Discover</span>
    <span>k</span>
  </button>
</nav>

<style>
  .header_nav {
    --distance: 0.5rem;
    --rounded: 0.9rem;
    padding: 0.3rem;
    margin-inline: auto;
    border-radius: var(--rounded);
    display: flex;
    align-items: center;
    gap: var(--distance);
    width: fit-content;
    background-color: hsl(0, 0%, 5%);

    & .nav_logo {
      --size: 35px;

      display: inline-flex;
      width: var(--size);
      aspect-ratio: 1;
      border-radius: calc(var(--rounded) / 1.5);
      background-color: hsl(278, 100%, 50%);
      img {
        object-fit: cover;
        object-position: center;
      }
    }

    & .nav_links {
      display: flex;
      list-style-type: none;

      & a {
        padding: var(--distance);
        border-radius: calc(var(--rounded) / 1.5);
        font-weight: 500;
        color: hsl(0, 0%, 95%);
        transition: all 0.2s ease-in-out;
      }

      & a:hover {
        background-color: hsl(0, 0%, 15%);
      }
    }

    & .nav_cta {
      cursor: pointer;

      display: flex;
      align-items: center;
      gap: 0.3rem;
      padding: 0.3rem;
      border-radius: calc(var(--rounded) / 1.5);
      border: 1px solid hsl(0, 0%, 30%);
      background-color: hsl(0, 0%, 15%);
      color: hsl(0, 0%, 95%);
      font-weight: 500;
      font-size: 0.8rem;
      transition: all 120ms ease-in-out;

      & span:last-child {
        background-color: hsl(0, 0%, 25%);
        padding: 0.2rem 0.5rem;
        border-radius: calc(var(--rounded) / 2);
        border: 1px solid hsl(0, 0%, 10%);
      }

      &:hover {
        background-color: hsl(0, 0%, 20%);
      }
    }
  }
</style>
