---
import Form from "../components/Form.astro";
import Applications from "../components/Applications.astro";
---

<main class="main">
  <Form />
  <Applications />
</main>

<style>
  .main {
    width: min(100%, 67.5rem);
    height: 50vh;
    --_form-size: 300px;

    display: grid;
    grid-template-columns: var(--_form-size) 1fr;
    gap: 1rem;
    padding: 0.5rem;
    margin-block: 2rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 93%);
    /* background-color: red; */
  }

  @media (max-width: 768px) {
    .main {
      grid-template-columns: 1fr;
      height: auto;
    }
  }
</style>
