.sidenav {
  --_dot-size: 2px;
  --_transition-time: 150ms;

  --_link-color: hsl(0, 0%, 60%);
  --_link-color-hover: hsl(13, 100%, 62%);
  --_link-color-hover-prev: hsl(13, 100%, 82%);

  --_open-width: 10;
  --_hover-width: calc(var(--_open-width) * 2);
  --_selected-width: calc(var(--_open-width) * 2.5);

  overflow: hidden;
  /* padding-top: 10vh; */
  z-index: 999;

  background-color: hsla(0, 0%, 100%, 0.7);
  backdrop-filter: blur(16px);
  position: fixed;
  inset: 0;

  & .container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 20rem;
    height: 100%;

    & > div {
      & button {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 1rem;
        border: none;
        background-color: transparent;

        & img {
          background-color: hsl(0, 0%, 85%);
          padding: 5px;
          border-radius: 100vw;
        }
      }
    }
    & > nav {
      margin-block: 5vh;
      flex: 1;

      & ul {
        & li {
          /* Hover effect on the current link + the after and before links */
          width: 100%;
          &:hover + li,
          &:has(+ li:hover) {
            & span {
              color: var(--_link-color-hover-prev);
            }

            & span:nth-child(1)[data-open="true"] {
              width: calc(var(--_dot-size) * 18);
              background-color: var(--_link-color-hover-prev);
            }
          }

          &:hover {
            & span {
              color: var(--_link-color-hover);
            }

            & span:nth-child(1)[data-open="true"] {
              width: calc(var(--_dot-size) * 25);
              background-color: var(--_link-color-hover);
            }
          }

          & a {
            /* position: relative; */
            padding-block: 0.7rem;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            gap: 8px;
            text-decoration: none;
            color: var(--_link-color);
            transition: color var(--_transition-time) linear;

            &[data-active="true"] {
              & span {
                color: var(--_link-color-hover);
              }

              & span:nth-child(1):is([data-open="true"], [data-open="false"]) {
                width: calc(var(--_dot-size) * var(--_selected-width));
                background-color: var(--_link-color-hover);
              }
            }

            & span:nth-child(1) {
              background-color: var(--_link-color);
              width: calc(var(--_dot-size) * 2);
              height: var(--_dot-size);
              border-radius: 100vw;
              transition: width var(--_transition-time) ease;

              &[data-open="true"] {
                width: calc(var(--_dot-size) * var(--_open-width));
              }
              &[data-selected="true"] {
                width: calc(var(--_dot-size) * var(--_hover-width));
              }
            }
            & span:nth-child(2) {
              transform: translate(-100%);
              opacity: 0;
              transition: all calc(var(--_transition-time) / 1.5) linear;
              &[data-open="true"] {
                transform: translate(0%);
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
